[Unit]
Description=ContextNet Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/Robotic-agentCloud/OpenSplice/contextNet.sh

[Install]
WantedBy=multi-user.target
