[Unit]
Description=ContextNet Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=java -jar /opt/Robotic-agentCloud/OpenSplice/contextnet-2.7-eSMA.jar 127.0.0.1 5500 OpenSplice &

[Install]
WantedBy=multi-user.target
